absl-py==2.3.1 ; python_version >= "3.12"
annotated-types==0.7.0 ; python_version >= "3.12"
appdirs==1.4.4 ; python_version >= "3.12"
appnope==0.1.4 ; python_version >= "3.12" and platform_system == "Darwin"
asttokens==3.0.0 ; python_version >= "3.12"
astunparse==1.6.3 ; python_version >= "3.12"
attrs==25.3.0 ; python_version >= "3.12"
autograd==1.8.0 ; python_version >= "3.12"
autoray==0.7.2 ; python_version >= "3.12"
cachetools==5.5.2 ; python_version >= "3.12"
certifi==2025.7.9 ; python_version >= "3.12"
cffi==1.17.1 ; (implementation_name == "pypy" or platform_python_implementation != "PyPy") and python_version >= "3.12"
charset-normalizer==3.4.2 ; python_version >= "3.12"
cirq-aqt==1.5.0 ; python_version >= "3.12"
cirq-core==1.5.0 ; python_version >= "3.12"
cirq-google==1.5.0 ; python_version >= "3.12"
cirq-ionq==1.5.0 ; python_version >= "3.12"
cirq-pasqal==1.5.0 ; python_version >= "3.12"
cirq-web==1.5.0 ; python_version >= "3.12"
cirq==1.5.0 ; python_version >= "3.12"
colorama==0.4.6 ; (sys_platform == "win32" or platform_system == "Windows") and python_version >= "3.12"
comm==0.2.2 ; python_version >= "3.12"
contourpy==1.3.2 ; python_version >= "3.12"
cryptography==45.0.5 ; python_version >= "3.12"
cycler==0.12.1 ; python_version >= "3.12"
cython==3.1.2 ; python_version >= "3.12"
debugpy==1.8.14 ; python_version >= "3.12"
decorator==5.2.1 ; python_version >= "3.12"
deprecation==2.1.0 ; python_version >= "3.12"
diastatic-malt==2.15.2 ; python_version >= "3.12"
dill==0.4.0 ; python_version >= "3.12"
duet==0.2.9 ; python_version >= "3.12"
executing==2.2.0 ; python_version >= "3.12"
fonttools==4.58.5 ; python_version >= "3.12"
gast==0.6.0 ; python_version >= "3.12"
google-api-core==2.25.1 ; python_version >= "3.12"
google-auth==2.40.3 ; python_version >= "3.12"
googleapis-common-protos==1.70.0 ; python_version >= "3.12"
graphviz==0.21 ; python_version >= "3.12"
grpcio-status==1.71.2 ; python_version >= "3.12"
grpcio==1.73.1 ; python_version >= "3.12"
h5py==3.14.0 ; python_version >= "3.12"
ibm-cloud-sdk-core==3.24.2 ; python_version >= "3.12"
ibm-platform-services==0.67.0 ; python_version >= "3.12"
idna==3.10 ; python_version >= "3.12"
imageio==2.37.0 ; python_version >= "3.12"
ipykernel==6.29.5 ; python_version >= "3.12"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.12"
ipython==9.4.0 ; python_version >= "3.12"
jedi==0.19.2 ; python_version >= "3.12"
jupyter-client==8.6.3 ; python_version >= "3.12"
jupyter-core==5.8.1 ; python_version >= "3.12"
keras==3.10.0 ; python_version >= "3.12"
kiwisolver==1.4.8 ; python_version >= "3.12"
lazy-loader==0.4 ; python_version >= "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.12"
matplotlib-inline==0.1.7 ; python_version >= "3.12"
matplotlib==3.10.3 ; python_version >= "3.12"
mdurl==0.1.2 ; python_version >= "3.12"
ml-dtypes==0.5.1 ; python_version >= "3.12"
mpmath==1.3.0 ; python_version >= "3.12"
namex==0.1.0 ; python_version >= "3.12"
nest-asyncio==1.6.0 ; python_version >= "3.12"
networkx==3.5 ; python_version >= "3.12"
numpy==2.3.1 ; python_version >= "3.12"
optree==0.16.0 ; python_version >= "3.12"
packaging==25.0 ; python_version >= "3.12"
pandas==2.3.1 ; python_version >= "3.12"
parso==0.8.4 ; python_version >= "3.12"
pbr==6.1.1 ; python_version >= "3.12"
pennylane-lightning==0.41.1 ; python_version >= "3.12"
pennylane==0.41.1 ; python_version >= "3.12"
pexpect==4.9.0 ; python_version >= "3.12" and sys_platform != "win32" and sys_platform != "emscripten"
pillow==11.3.0 ; python_version >= "3.12"
platformdirs==4.3.8 ; python_version >= "3.12"
prompt-toolkit==3.0.51 ; python_version >= "3.12"
proto-plus==1.26.1 ; python_version >= "3.12"
protobuf==5.29.5 ; python_version >= "3.12"
psutil==7.0.0 ; python_version >= "3.12"
ptyprocess==0.7.0 ; python_version >= "3.12" and sys_platform != "win32" and sys_platform != "emscripten"
pure-eval==0.2.3 ; python_version >= "3.12"
pyasn1-modules==0.4.2 ; python_version >= "3.12"
pyasn1==0.6.1 ; python_version >= "3.12"
pybind11-global==3.0.0 ; python_version >= "3.12"
pybind11==3.0.0 ; python_version >= "3.12"
pycparser==2.22 ; (implementation_name == "pypy" or platform_python_implementation != "PyPy") and python_version >= "3.12"
pydantic-core==2.33.2 ; python_version >= "3.12"
pydantic==2.11.7 ; python_version >= "3.12"
pygments==2.19.2 ; python_version >= "3.12"
pyjwt==2.10.1 ; python_version >= "3.12"
pylatexenc==2.10 ; python_version >= "3.12"
pyparsing==3.2.3 ; python_version >= "3.12"
pyspnego==0.11.2 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
pytz==2025.2 ; python_version >= "3.12"
pywin32==310 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.12"
pyzmq==27.0.0 ; python_version >= "3.12"
qclib==0.1.14 ; python_version >= "3.12"
qiskit-aer==0.17.1 ; python_version >= "3.12"
qiskit-ibm-runtime==0.40.1 ; python_version >= "3.12"
qiskit==2.1.1 ; python_version >= "3.12"
qsimcirq==0.22.0 ; python_version >= "3.12"
qutip-qip==0.4.1 ; python_version >= "3.12"
qutip==5.2.0 ; python_version >= "3.12"
requests-ntlm==1.3.0 ; python_version >= "3.12"
requests==2.32.4 ; python_version >= "3.12"
rich==14.0.0 ; python_version >= "3.12"
rsa==4.2 ; python_version >= "3.13"
rsa==4.9.1 ; python_version == "3.12"
rustworkx==0.16.0 ; python_version >= "3.12"
scikit-image==0.25.2 ; python_version >= "3.12"
scipy-openblas32==0.3.30.0.1 ; python_version >= "3.12"
scipy==1.16.0 ; python_version >= "3.12"
setuptools==80.9.0 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
sortedcontainers==2.4.0 ; python_version >= "3.12"
sspilib==0.3.1 ; python_version >= "3.12" and sys_platform == "win32"
stack-data==0.6.3 ; python_version >= "3.12"
stevedore==5.4.1 ; python_version >= "3.12"
sympy==1.14.0 ; python_version >= "3.12"
tensorly==0.9.0 ; python_version >= "3.12"
termcolor==3.1.0 ; python_version >= "3.12"
tifffile==2025.6.11 ; python_version >= "3.12"
tomlkit==0.13.3 ; python_version >= "3.12"
tornado==6.5.1 ; python_version >= "3.12"
tqdm==4.67.1 ; python_version >= "3.12"
traitlets==5.14.3 ; python_version >= "3.12"
typedunits==0.0.1.dev20250509200845 ; python_version >= "3.12"
typing-extensions==4.14.1 ; python_version >= "3.12"
typing-inspection==0.4.1 ; python_version >= "3.12"
tzdata==2025.2 ; python_version >= "3.12"
urllib3==2.5.0 ; python_version >= "3.12"
wcwidth==0.2.13 ; python_version >= "3.12"
wheel==0.45.1 ; python_version >= "3.12"
